@import url('https://fonts.google.com/specimen/Epilogue');
:root{
    --hauteur-menu: 10vh;
    --hauteur-sous-menu:121px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: hsl(0, 0%, 98%);
    font-family: Epilogue,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    z-index: 1;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--hauteur-menu);
    top: 0;
}
.first-part-header{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    height: 100%;
}
.menu ul{
    list-style: none;
}
.menu>.menu-ul{
    height:100%;
    width: 100%;
    display: flex;
    /* text-align: center; */
}
.menu>.menu-ul>.menu-items{
    position: relative;
    height: 100%;
    flex: 1;
}
.menu>.menu-ul>.menu-drpdown>a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: hsl(0, 0%, 41%);
    top: 30%;
    left: 30%;   
}
.menu>.menu-ul>.menu-items-single>a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: hsl(0, 0%, 41%);
    top: 50%;
    left: 5%;
    transform: translate(50%, -50%);
}
li a{
    text-decoration: none;
    color: black;
}
.menu-drpdown>a:after{
    content: 'â¯';
    font-size: 16px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu-ul{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align:center;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    background: white;
}
.sous-menu-ul>.sous-menu-items>a{
    border: solid 1px white;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.menu-ul>.menu-items:hover>a{
    color: hsl(0, 0%, 8%);
}
.menu-drpdown:hover>a:after{
    animation: rotationFleche 0.2s linear forwards;
}
@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
.menu-drpdown:hover>.sous-menu-ul{
    animation: apparitionSousMenu 1s forwards;
}
@keyframes apparitionSousMenu {
    0% {
      /* box-shadow: 0px 3px 3px 1px hsl(0, 0%, 41%); */
    }
    30% {
        /* box-shadow: 0px 3px 3px 1px hsl(0, 0%, 41%); */
    }
    100% {
      max-height: 50em;
      /* box-shadow: 0px 3px 3px 1px hsl(0, 0%, 41%); */
      box-shadow: 0px 20px 20px 20px rgba(0,0,0,0.1);
    }
}
.icone-sous-menu-ul{
    margin-right: 10%;
}
/* fin de la gestion du menu et du logo debut des boutons du header */
.header-bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 20%;
}
.header-bouton>a{
    text-decoration: none;
    width: 6em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-bouton>a>button{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
}
.header-bouton>a:hover{
    font-weight: bold;
}
.header-bouton>a:hover>button{
    border-radius: 10px;
    border: solid 1px hsl(0, 0%, 8%);
}
/* gestion des bar pour le menu */
.mobile-header{
    display: none;
}
/* ---------------------------------------------------------------------------------------------------- */
/* gestion du menu */
.mobile-navigation-menu{
    display: none;
}
@media (min-width:735px){
    .mobile-navigation-menu{
        display: none;
    }
}